04-comunicacions/flows.json
[{"id":"bd057f6bea65d574","type":"modbus-write","z":"260d3cd8b1123cc5","name":"relay 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"722d0b1d1f51b1c1","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":160,"wires":[[],[]]},{"id":"6133f2470d884db8","type":"inject","z":"260d3cd8b1123cc5","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":140,"wires":[["bd057f6bea65d574"]]},{"id":"746a65a93a98b581","type":"inject","z":"260d3cd8b1123cc5","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"65280","payloadType":"num","x":130,"y":180,"wires":[["bd057f6bea65d574"]]},{"id":"137e52137f3377a5","type":"modbus-write","z":"260d3cd8b1123cc5","name":"relay 1","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","server":"722d0b1d1f51b1c1","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":240,"wires":[[],[]]},{"id":"ebe0835019d4292b","type":"inject","z":"260d3cd8b1123cc5","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":220,"wires":[["137e52137f3377a5"]]},{"id":"4324bf0acc3693e5","type":"inject","z":"260d3cd8b1123cc5","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"65280","payloadType":"num","x":130,"y":260,"wires":[["137e52137f3377a5"]]},{"id":"fe02a4468e4ecff4","type":"tcp in","z":"260d3cd8b1123cc5","name":"bridge","server":"server","host":"","port":"5001","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":110,"y":560,"wires":[["a49ec9a6a81a348b","d039be6fdbe9da5a"]]},{"id":"d039be6fdbe9da5a","type":"debug","z":"260d3cd8b1123cc5","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":600,"wires":[]},{"id":"d92f0a49f52a0ba8","type":"modbus-write","z":"260d3cd8b1123cc5","name":"relay 2","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"2","quantity":"1","server":"722d0b1d1f51b1c1","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":320,"wires":[[],[]]},{"id":"07e2925a0989a948","type":"modbus-write","z":"260d3cd8b1123cc5","name":"relay 3","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"3","quantity":"1","server":"722d0b1d1f51b1c1","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":400,"wires":[[],[]]},{"id":"e394ce88007adf79","type":"comment","z":"260d3cd8b1123cc5","name":"ModBUS to LoraWAN - Relay board","info":"","x":200,"y":80,"wires":[]},{"id":"7df8100bc0703693","type":"inject","z":"260d3cd8b1123cc5","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":300,"wires":[["d92f0a49f52a0ba8"]]},{"id":"a0dcd28095d59f63","type":"inject","z":"260d3cd8b1123cc5","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"65280","payloadType":"num","x":130,"y":340,"wires":[["d92f0a49f52a0ba8"]]},{"id":"0785dc2f2905a372","type":"inject","z":"260d3cd8b1123cc5","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":380,"wires":[["07e2925a0989a948"]]},{"id":"ebbe8f048ff65aaa","type":"inject","z":"260d3cd8b1123cc5","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"65280","payloadType":"num","x":130,"y":420,"wires":[["07e2925a0989a948"]]},{"id":"b1a82168544752cf","type":"mqtt out","z":"260d3cd8b1123cc5","name":"downlink","topic":"v3/xp-modbus@ttn/devices/rak7431-01/down/push","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89d105c5e449013b","x":620,"y":560,"wires":[]},{"id":"2700ebe464a67f16","type":"mqtt in","z":"260d3cd8b1123cc5","name":"uplink","topic":"v3/xp-modbus@ttn/devices/+/up","qos":"2","datatype":"auto-detect","broker":"89d105c5e449013b","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":480,"wires":[["a69446bfc360ecee"]]},{"id":"dfb04bbc03b47151","type":"debug","z":"260d3cd8b1123cc5","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"5575f437448302da","type":"template","z":"260d3cd8b1123cc5","name":"downlink","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"downlinks\": [{\n    \"f_port\": 129,\n    \"frm_payload\": \"{{{ payload }}}\",\n    \"priority\": \"NORMAL\"\n  }]\n}\n","output":"json","x":460,"y":560,"wires":[["b1a82168544752cf"]]},{"id":"a49ec9a6a81a348b","type":"base64","z":"260d3cd8b1123cc5","name":"","action":"str","property":"payload","x":300,"y":560,"wires":[["5575f437448302da"]]},{"id":"a69446bfc360ecee","type":"base64","z":"260d3cd8b1123cc5","name":"","action":"","property":"payload.uplink_message.frm_payload","x":300,"y":480,"wires":[["8bccc28178534358"]]},{"id":"8bccc28178534358","type":"function","z":"260d3cd8b1123cc5","name":"decode","func":"// We only need unrequested updates\nvar payload = msg.payload.uplink_message.frm_payload;\nif (payload[1] != 1) return null;\n\nvar state = payload[3];\nvar output = [];\nfor (var i=0; i<4; i++) {\n    output.push(state & 0x01);\n    state = (state >> 1);\n}\nreturn { 'payload': output };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":480,"wires":[["dfb04bbc03b47151"]]},{"id":"722d0b1d1f51b1c1","type":"modbus-client","name":"bridge","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"5001","tcpType":"TELNET","serialPort":"/dev/ttyUSB1","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"89d105c5e449013b","type":"mqtt-broker","z":"260d3cd8b1123cc5","name":"xp-modbus@ttn","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]